<section id="about" class="s_about bg_light">
	<div class="section_header">
		<h2>Обо мне</h2>
		<div class="s_descr_wrap">
			<div class="s_descr">Познакомимся ближе</div>
		</div>
	</div>
	<div class="section_content">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-push-4 animation_1">
					<h3>Фото</h3>
					<div class="person">
						<a href="img/photo.jpg" class="popup"><img src="img/photo.jpg" alt="Alt" /></a>
					</div>
				</div>
				<div class="col-md-4 col-md-pull-4 animation_2">
					<h3>Немного о себе</h3>
					<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
					<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
				</div>
				<div class="col-md-4 animation_3 personal_last_block">
					<h3>Персональная информация</h3>
					<h2 class="personal_header">Александр Прокопский</h2>
					<ul>
						<li>Профессиональное создание сайтов: разработка дизайна, HTML верстка, посадка на CMS WordPress</li>
						<li>День рождения: 3 июня 1988 года</li>
						<li>Номер телефона: +7 999 999 99 99</li>
						<li>E-mail: <a href="mailto:youmail@mail.ru">youmail@mail.ru</a></li>
						<li>Веб-сайт: <a href="//webdesign-master.ru" target="_blank">webdesign-master.ru</a></li>
					</ul>
					<div class="social_wrap">
						<ul>
							<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-vk"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" target="_blank"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>