<section id="portfolio" class="s_portfolio bg_dark">
	<div class="section_header">
		<h2>Портфолио</h2>
		<div class="s_descr_wrap">
			<div class="s_descr">Мои последние работы</div>
		</div>
	</div>
	<div class="section_content">
		<div class="container">
			<div class="row">
				<div class="filter_div controls">
					<ul>
						<li class="filter active" data-filter="all">Все работы</li>
						<li class="filter" data-filter=".category-1">Сайты</li>
						<li class="filter" data-filter=".category-2">Айдентика</li>
						<li class="filter" data-filter=".category-3">Логотипы</li>
					</ul>
				</div>
				<div id="portfolio_grid">
					<div class="mix col-md-3 col-sm-6 col-xs-12 portfolio_item category-1">
						<img src="img/portfolio-images/1.jpg" alt="Alt" />
						<div class="port_item_cont">
							<h3>Заголовок работы</h3>
							<p>Описание работы</p>
							<a href="#" class="popup_content">Посмотреть</a>
						</div>
						<div class="hidden">
							<div class="podrt_descr">
								<div class="modal-box-content">
									<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
									<h3>Заголовок работы</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
									<img src="img/portfolio-images/1.jpg" alt="Alt" />
								</div>
							</div>
						</div>
					</div>
					<div class="mix col-md-3 col-sm-6 col-xs-12 portfolio_item category-1">
						<img src="img/portfolio-images/4.jpg" alt="Alt" />
						<div class="port_item_cont">
							<h3>Заголовок работы</h3>
							<p>Описание работы</p>
							<a href="#" class="popup_content">Посмотреть</a>
						</div>
						<div class="hidden">
							<div class="podrt_descr">
								<div class="modal-box-content">
									<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
									<h3>Заголовок работы</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
									<img src="img/portfolio-images/4.jpg" alt="Alt" />
								</div>
							</div>
						</div>
					</div>
					<div class="mix col-md-3 col-sm-6 col-xs-12 portfolio_item category-1">
						<img src="img/portfolio-images/2.jpg" alt="Alt" />
						<div class="port_item_cont">
							<h3>Заголовок работы</h3>
							<p>Описание работы</p>
							<a href="#" class="popup_content">Посмотреть</a>
						</div>
						<div class="hidden">
							<div class="podrt_descr">
								<div class="modal-box-content">
									<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
									<h3>Заголовок работы</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
									<img src="img/portfolio-images/2.jpg" alt="Alt" />
								</div>
							</div>
						</div>
					</div>
					<div class="mix col-md-3 col-sm-6 col-xs-12 portfolio_item category-2">
						<img src="img/portfolio-images/3.jpg" alt="Alt" />
						<div class="port_item_cont">
							<h3>Заголовок работы</h3>
							<p>Описание работы</p>
							<a href="#" class="popup_content">Посмотреть</a>
						</div>
						<div class="hidden">
							<div class="podrt_descr">
								<div class="modal-box-content">
									<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
									<h3>Заголовок работы</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
									<img src="img/portfolio-images/3.jpg" alt="Alt" />
								</div>
							</div>
						</div>
					</div>
					<div class="mix col-md-3 col-sm-6 col-xs-12 portfolio_item category-2">
						<img src="img/portfolio-images/4.jpg" alt="Alt" />
						<div class="port_item_cont">
							<h3>Заголовок работы</h3>
							<p>Описание работы</p>
							<a href="#" class="popup_content">Посмотреть</a>
						</div>
						<div class="hidden">
							<div class="podrt_descr">
								<div class="modal-box-content">
									<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
									<h3>Заголовок работы</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
									<img src="img/portfolio-images/4.jpg" alt="Alt" />
								</div>
							</div>
						</div>
					</div>
					<div class="mix col-md-3 col-sm-6 col-xs-12 portfolio_item category-3">
						<img src="img/portfolio-images/5.jpg" alt="Alt" />
						<div class="port_item_cont">
							<h3>Заголовок работы</h3>
							<p>Описание работы</p>
							<a href="#" class="popup_content">Посмотреть</a>
						</div>
						<div class="hidden">
							<div class="podrt_descr">
								<div class="modal-box-content">
									<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
									<h3>Заголовок работы</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
									<img src="img/portfolio-images/5.jpg" alt="Alt" />
								</div>
							</div>
						</div>
					</div>
					<div class="mix col-md-3 col-sm-6 col-xs-12 portfolio_item category-3">
						<img src="img/portfolio-images/6.jpg" alt="Alt" />
						<div class="port_item_cont">
							<h3>Заголовок работы</h3>
							<p>Описание работы</p>
							<a href="#" class="popup_content">Посмотреть</a>
						</div>
						<div class="hidden">
							<div class="podrt_descr">
								<div class="modal-box-content">
									<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
									<h3>Заголовок работы</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
									<img src="img/portfolio-images/6.jpg" alt="Alt" />
								</div>
							</div>
						</div>
					</div>
					<div class="mix col-md-3 col-sm-6 col-xs-12 portfolio_item category-2">
						<img src="img/portfolio-images/1.jpg" alt="Alt" />
						<div class="port_item_cont">
							<h3>Заголовок работы</h3>
							<p>Описание работы</p>
							<a href="#" class="popup_content">Посмотреть</a>
						</div>
						<div class="hidden">
							<div class="podrt_descr">
								<div class="modal-box-content">
									<button class="mfp-close" type="button" title="Закрыть (Esc)">×</button>
									<h3>Заголовок работы</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cupiditate, dignissimos quo. Dolore, omnis totam quibusdam voluptatibus cum, nulla dolores sunt iste? Sunt nam illum, animi magni veniam adipisci non.</p>
									<img src="img/portfolio-images/1.jpg" alt="Alt" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>