<section id="resume" class="s_resume">
	<div class="section_header">
		<h2>Резюме</h2>
		<div class="s_descr_wrap">
			<div class="s_descr">Мои знания и достижения</div>
		</div>
	</div>
	<div class="section_content">
		<div class="container">
			<div class="row">
				<div class="resume_container">
					<div class="col-md-6 col-sm-6 left">
						<h3>Работа</h3>
						<div class="resume_icon"><i class="icon-basic-case"></i></div>
						<div class="resume_item">
							<div class="year">2008-2015</div>
							<div class="resume_description">ООО "Пронькина забава"<strong>Программист</strong></div>
							<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum.</p>
						</div>
						<div class="resume_item">
							<div class="year">2008-2015</div>
							<div class="resume_description">ООО "Пронькина забава"<strong>Программист</strong></div>
							<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum.</p>
						</div>
						<div class="resume_item">
							<div class="year">2008-2015</div>
							<div class="resume_description">ООО "Пронькина забава"<strong>Программист</strong></div>
							<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 right">
						<h3>Учеба</h3>
						<div class="resume_icon"><i class="icon-basic-book-pen"></i></div>
						<div class="resume_item">
							<div class="year">2008-2015</div>
							<div class="resume_description"><strong>Программист</strong>ООО "Пронькина забава"</div>
							<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum.</p>
						</div>
						<div class="resume_item">
							<div class="year">2008-2015</div>
							<div class="resume_description"><strong>Программист</strong>ООО "Пронькина забава"</div>
							<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum.</p>
						</div>
						<div class="resume_item">
							<div class="year">2008-2015</div>
							<div class="resume_description"><strong>Программист</strong>ООО "Пронькина забава"</div>
							<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>