section, 
.main_head
	position: relative

section
	padding: 50px 0

.main_head
	min-height: 620px
	padding-top: 20px

.logo_container
	display: inline-block

.toggle_mnu
	+size(60px)
	float: right
	position: fixed
	right: 20px
	top: 20px
	z-index: 100
	border: none
	outline: none
	background-color: $main-color

$w: 28px
$h: 3px

.sandwich 
	width: $w
	height: $w
	position: absolute
	top: 8px
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 200

.sw-topper
	position: relative
	top: 0
	width: $w 
	height: $h
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	display: block
        
.sw-bottom
	position: relative
	width: $w
	height: $h
	top: $h * 2
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	transition-delay: 0.2s, 0s 
	display: block
	

.sw-footer
	position: relative
	width: $w
	height: $h
	top: $h * 4
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: all 0.5s
	transition-delay: 0.1s 
	display: block

.sandwich.active 
	.sw-topper
		top: 9px
		transform: rotate(-45deg)
	.sw-bottom
		top: 6px
		transform: rotate(45deg)
	.sw-footer
		opacity: 0
		top: 0
		transform: rotate(180deg)

.top_mnu
	display: none
	position: fixed
	+size(100%)
	background-color: rgba(0,0,0,.8)
	z-index: 50
	right: 0
	top: 0

	ul,li
		list-style-type: none
		margin: 0
		padding: 0

	ul
		margin-top: 180px
		text-align: center

		a
			color: #fff
			display: block
			padding: 20px 0
			font-size: 12px
			text-transform: uppercase
			outline: none
			height: 60px

			span
				display: block
				position: relative
				top: -40px
				left: 0
				height: 100%
				+transition(all 1s ease)
				&:hover
					background-color: rgba(255,255,255,.08)

.top_wrapper
	display: table
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	z-index: 10
	
	.top_descr
		display: table-row

		.top_centered
			display: table-cell
			text-align: center
			vertical-align: middle
	.top_text
		display: inline-block

		p
			margin: 0
			text-transform: uppercase
			color: $bg_light
			+kerning(5)

		h1
			display: block
			width: 100%
			padding: 10px 35px
			color: #fff
			border: 8px solid  #fff
			text-transform: uppercase
			font-weight: 600
			font-size: 14px
			background-color: rgba(0,0,0,.1)
			margin-left: 20px
			margin-right: 20px
